/** general **/
@font-face {
  font-family: GothamBook;
  src: url("fonts/GothamBook.ttf");
}

@font-face {
  font-family: GothamBold;
  src: url("fonts/GothamBold.ttf");
}

* {
  outline: none;
  font-family: "Poppins", sans-serif;
}

.fw-400 {
  font-weight: 400 !important;
}

.text-right {
  text-align: right;
}

.bg-blue {
  background: #0d2e59;
}

.orange-bar-bg {
  background-image: url("../images/orange-bar.png");
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 15px;
  margin-left: 50px;
}

.orange-bar-bg.p-lg {
  padding-left: 28px;
  margin-left: 0px;
  padding-right: 70px;
}

.btn-orange {
  background: #ff6501;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  border: none;
}

.btn-orange:hover {
  text-decoration: none !important;
  color: #fff;
}

.btn-orange-lg {
  display: block;
  width: 100%;
  max-width: 260px;
  height: 61px;
  box-sizing: border-box;
  padding: 15px;
  box-shadow: 0px 3px 12px #f19659;
}

.form-control,
.form-select {
  border: solid 1px #0d2e59;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 500;
  min-height: 52px;
  border-radius: 10px;
}

.form-check-input:checked {
  background-color: #ff6501;
  border-color: #ff6501;
}

.form-control:focus,
.form-select:focus {
  background-color: #fff;
  box-shadow: none;
  border-color: inherit;
}

.form-check-input:focus {
  box-shadow: none;
}

.form-check-input:active {
  filter: brightness(100%);
}

.invalid-input {
  border-color: rgb(230 27 27);
  border-width: 2px;
}

.alert-danger {
  color: #ffffff;
  background-color: #d02f3d;
  border-color: none;
}

.pr-0 {
  padding-right: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.img-fluid-lg {
  max-width: inherit;
  width: 100%;
}

@media screen and (min-width: 1750px) {
  .container {
    max-width: 1750px;
  }
}

@media screen and (max-width: 1200px) {
  .btn-orange {
    font-size: 18px;
  }

  .form-control {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .form-control {
    font-size: 14px;
  }
}

@media screen and (max-width: 1400px) {
  .pr-0 {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }

  .pl-0 {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }

  .orange-bar-bg {
    margin-left: 0px;
  }

  .img-fluid-lg {
    max-width: 100%;
    width: auto;
  }

  .orange-bar-bg.p-lg {
    padding-right: 0px;
  }
}

/** tags **/
body {
  background: #fafafa;
}

p {
  font-size: 22px;
  font-weight: 500;
}

li {
  font-size: 19px;
  font-weight: 500;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

label {
  font-size: 20px;
  font-weight: 500;
  margin-top: 25px;
}

label.form-check-label {
  margin-top: 0px;
}

@media screen and (max-width: 1200px) {
  p {
    font-size: 18px;
  }

  label {
    font-size: 16px;
  }

  li {
    font-size: 15px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {
  p {
    font-size: 16px;
  }

  label {
    font-size: 14px;
  }

  li {
    font-size: 13px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }
}

/** menu section **/
#menu-section {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar {
  padding-bottom: 0px;
  padding-top: 18px;
}

.navbar .container {
  border-bottom: solid 1px #fff;
  margin-bottom: -0.5px;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-nav .nav-link {
  color: #fff;
  font-weight: 600;
}

.navbar-nav {
  width: 100%;
}

#menu-section li.nav-item {
  margin-left: 30px;
  font-size: 22px;
}

#menu-section li.nav-item a:hover,
#menu-section li.nav-item a.active {
  text-decoration: underline;
}

#menu-section li.nav-item a.dropdown-toggle:hover {
  text-decoration: none;
}

.lang-link {
  font-size: 15px;
}

.lang-link.active,
.lang-link:hover {
  border: solid 1px #fff;
  text-decoration: none !important;
}

.navbar-nav .dropdown-menu {
  background: #6287f2;
}

.navbar-nav .dropdown-menu a {
  color: #fff;
}

.navbar-nav .dropdown-menu .dropdown-item.active,
.navbar-nav .dropdown-menu .dropdown-item:active,
.navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item:hover {
  text-decoration: underline;
  background-color: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link.btn-orange {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (max-width: 1750px) {
  #top-logo {
    width: 200px;
  }

  #menu-section li.nav-item {
    margin-left: 16px;
    font-size: 18px;
  }

  #menu-section .nav-item .dropdown-item {
    font-size: 18px;
  }

  #menu-section .nav-item .btn-orange {
    font-size: 16px;
  }

  .lang-link {
    font-size: 13px;
  }
}

@media screen and (max-width: 1400px) {
  #top-logo {
    width: 160px;
  }

  #menu-section li.nav-item {
    margin-left: 14px;
    font-size: 16px;
  }

  #menu-section .nav-item .dropdown-item {
    font-size: 16px;
  }

  #menu-section .nav-item .btn-orange {
    font-size: 14px;
  }

  .lang-link {
    font-size: 10px;
  }
}

@media screen and (max-width: 1200px) {
  #top-logo {
    width: 140px;
  }

  #menu-section li.nav-item {
    margin-left: 10px;
    font-size: 13px;
  }

  #menu-section .nav-item .dropdown-item {
    font-size: 13px;
  }

  #menu-section .nav-item .btn-orange {
    font-size: 11px;
  }

  .lang-link {
    font-size: 8px;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    padding-top: 0px;
  }
  #menu-section .nav-item .btn-orange {
    padding: 5px;
    width: 60px;
    text-align: center;
  }

  .lang-link {
    padding: 5px !important;
  }
}

/** carousel **/
#carousel-section {
  max-height: 940px;
  overflow: hidden;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  opacity: 0;
}

.carousel-caption {
  bottom: 25%;
}

.carousel-caption p {
  font-size: 21px;
  max-width: 805px;
  margin: auto;
}

.carousel-caption .btn-orange-lg {
  margin: auto;
  margin-top: 40px;
}

@media screen and (max-width: 1200px) {
  .carousel-caption {
    bottom: 10%;
  }
}

@media screen and (max-width: 992px) {
  .carousel-inner {
    height: auto;
  }

  .carousel-caption {
    bottom: 15%;
  }
  .carousel-caption .btn-orange-lg {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  #carousel-section {
    margin-top: 60px;
  }
  .carousel-caption {
    bottom: 5%;
  }
  .carousel-caption h1 {
    font-size: 25px;
  }
  .carousel-caption p {
    font-size: 18px;
  }
  .carousel-caption .btn-orange-lg {
    max-width: 230px;
    height: 50px;
    padding: 11px;
  }
}

@media screen and (max-width: 576px) {
  .carousel-caption h1 {
    font-size: 22px;
  }
}

/** numbers-section **/
#numbers-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../images/numbers-section-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#numbers-section span {
  font-size: 30px;
  display: block;
}

@media screen and (min-width: 1750px) {
  #numbers-section .container {
    max-width: 1500px;
  }
}

@media screen and (max-width: 1200px) {
  #numbers-section span {
    font-size: 25px;
  }
}

@media screen and (max-width: 992px) {
  #numbers-section {
    max-width: inherit;
  }
  #numbers-section span {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  #numbers-section {
    padding-top: 40px;
    padding-bottom: 0px;
  }
  #numbers-section span {
    margin-bottom: 40px;
  }
}

/** our services **/
#our-services {
  padding-top: 70px;
  padding-bottom: 100px;
  overflow-x: hidden;
}

#our-services .tab-pane {
  padding-top: 50px;
}

#our-services .tab-pane p {
  margin-top: 20px;
  max-width: 1050px;
}

#our-services .nav-pills .nav-link {
  background-color: transparent;
  color: #212121;
  box-sizing: border-box;
  padding-top: 120px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 25px;
  padding: 10px;
}

#our-services .nav-pills .nav-link.active,
#our-services .nav-pills .nav-link:hover {
  color: #ff6501;
}

#our-services .nav-pills .nav-link .tab-img {
  background-color: #e8ecef;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  margin-bottom: 15px;
}

#our-services .nav-pills .nav-link.active .tab-img,
#our-services .nav-pills .nav-link:hover .tab-img {
  background-color: #0d2e59;
}

#our-services .nav-pills #carga-maritima-tab .tab-img {
  background-image: url("../images/service-tab1-header-img.png");
}
#our-services .nav-pills #carga-maritima-tab.active .tab-img,
#our-services .nav-pills #carga-maritima-tab:hover .tab-img {
  background-image: url("../images/service-tab1-header-img-hover.png");
}

#our-services .nav-pills #carga-aerea-tab .tab-img {
  background-image: url("../images/service-tab2-header-img.png");
}
#our-services .nav-pills #carga-aerea-tab.active .tab-img,
#our-services .nav-pills #carga-aerea-tab:hover .tab-img {
  background-image: url("../images/service-tab2-header-img-hover.png");
}

#our-services .nav-pills #carga-terrestre-tab .tab-img {
  background-image: url("../images/service-tab3-header-img.png");
}
#our-services .nav-pills #carga-terrestre-tab.active .tab-img,
#our-services .nav-pills #carga-terrestre-tab:hover .tab-img {
  background-image: url("../images/service-tab3-header-img-hover.png");
}

#our-services .nav-pills #seguros-tab .tab-img {
  background-image: url("../images/service-tab4-header-img.png");
}
#our-services .nav-pills #seguros-tab.active .tab-img,
#our-services .nav-pills #seguros-tab:hover .tab-img {
  background-image: url("../images/service-tab4-header-img-hover.png");
}

#our-services .nav-pills #proyectos-tab .tab-img {
  background-image: url("../images/service-tab5-header-img.png");
}
#our-services .nav-pills #proyectos-tab.active .tab-img,
#our-services .nav-pills #proyectos-tab:hover .tab-img {
  background-image: url("../images/service-tab5-header-img-hover.png");
}

#our-services .nav-pills #aduana-tab .tab-img {
  background-image: url("../images/service-tab6-header-img.png");
}
#our-services .nav-pills #aduana-tab.active .tab-img,
#our-services .nav-pills #aduana-tab:hover .tab-img {
  background-image: url("../images/service-tab6-header-img-hover.png");
}

#our-services .nav-pills #blitz-tab .tab-img {
  background-image: url("../images/service-tab7-header-img.png");
}

#our-services .nav-pills #blitz-tab.active .tab-img,
#our-services .nav-pills #blitz-tab:hover .tab-img {
  background-color: inherit;
}

@media screen and (max-width: 1750px) {
  #our-services .nav-pills .nav-link {
    width: 166px;
    height: inherit;
  }
}

@media screen and (max-width: 1400px) {
  #our-services .nav-pills .nav-link {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  #our-services .tab-pane {
    padding-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  #our-services .nav-pills .nav-link {
    width: 205px;
  }
}

@media screen and (max-width: 450px) {
  #our-services .nav-pills .nav-link {
    width: 150px;
  }
}

/** certifications **/
#certifications {
  padding-top: 70px;
  padding-bottom: 80px;
}

#certifications .container {
  max-width: 1300px;
}

#certifications h2 {
  color: #fff;
}

#certifications .img-container {
  background-color: #fff;
  border-radius: 10px;
  max-width: 305px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 50px;
}

/** contact **/
#contact-section {
  padding-bottom: 100px;
  padding-top: 150px;
}

#contact-section .container {
  max-width: 1400px;
}

#contact-section #form-container {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  padding-top: 70px;
  padding-bottom: 50px;
}

#contact-section .btn-orange {
  margin: auto;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  #contact-section {
    padding-bottom: 50px;
    padding-top: 100px;
  }
}

@media screen and (max-width: 576px) {
  #contact-section {
    padding-top: 50px;
  }
}

/** modal form **/
#modal-form .modal-content {
  background: transparent;
}

#modal-form .modal-dialog {
  max-width: 850px !important;
}

#modal-form .modal-header {
  border-bottom: none;
}

#modal-form form {
  max-width: 1462px;
  margin: auto;
}

#modal-form .btn-orange {
  margin: auto;
  margin-top: 50px;
}

#form-step1,
#form-step2,
#form-step3 {
  padding: 1rem;
  padding-bottom: 50px;
}

#form-step1 {
  background-color: #fff;
  padding-top: 50px;
}

#form-step2-header {
  background-color: #fff;
  border-radius: 15px;
  padding: 40px;
}

#form-step2-1,
#form-step2-2,
#form-step2-3,
#form-step2-4,
#form-step2-5,
#form-step3 {
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 40px;
}

#form-step2-submit-container {
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px 40px;
  margin-top: -5px;
}

#form-step2-submit-container .btn-orange {
  margin-top: 0px;
}

#form-step1 .row,
#form-step2-header .row {
  max-width: 800px;
  margin: auto;
}

#form-step3 p {
  max-width: 600px;
  margin: auto;
}

@media screen and (min-width: 1200px) {
  #modal-form .modal-dialog {
    max-width: 1140px !important;
  }
}

@media screen and (max-width: 768px) {
  .modal-body {
    padding: 0rem;
  }
  #form-step2-header,
  #form-step2-1,
  #form-step2-2,
  #form-step2-3,
  #form-step2-4,
  #form-step2-5 {
    padding: 20px;
  }
  #form-step2-submit-container {
    padding: 10px 20px;
  }
  #form-step1,
  #form-step2,
  #form-step3 {
    padding-top: 2rem 0rem;
  }
}

/** footer **/
#footer {
  padding: 30px 0px;
  background-color: #1f1f1f;
}

#footer * {
  color: #fff;
}

#footer span {
  font-family: "GothamBook", sans-serif;
  display: block;
  margin-top: 5px;
}

#footer span.footer-header {
  font-family: "GothamBold", sans-serif;
}

#footer span.span-space {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  #footer span.footer-header {
    margin-top: 20px;
  }
  #footer span {
    text-align: center;
  }
}
