/** general **/
@font-face {
  font-family: GothamBook;
  src: url("fonts/GothamBook.ttf");
}

@font-face {
  font-family: GothamBold;
  src: url("fonts/GothamBold.ttf");
}

* {
  outline: none;
  font-family: "Poppins", sans-serif;
}

.fw400 {
  font-weight: 400 !important;
}

.bg-blue {
  background: #0d2e59;
}

.orange-bar-bg {
  background-image: url("../images/orange-bar.png");
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 15px;
}

.orange-bar-bg.p-lg {
  padding-left: 28px;
}

.btn-orange {
  background: #ff6501;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}

.btn-orange:hover {
  text-decoration: none !important;
}

.btn-orange-lg {
  display: block;
  max-width: 260px;
  height: 61px;
  box-sizing: border-box;
  padding: 15px;
  box-shadow: 0px 3px 12px #f19659;
}

@media screen and (min-width: 1700px) {
  .container {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1200px) {
  .btn-orange {
    font-size: 18px;
  }
}

/** tags **/
p {
  font-size: 22px;
  font-weight: 500;
}

li {
  font-size: 19px;
  font-weight: 500;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  p {
    font-size: 18px;
  }

  li {
    font-size: 15px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {
  p {
    font-size: 16px;
  }

  li {
    font-size: 13px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }
}

/** menu section **/
#menu-section {
  /* position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;*/
}

.navbar {
  padding-bottom: 0px;
}

.navbar .container {
  border-bottom: solid 1px #fff;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-nav .nav-link {
  color: #fff;
  font-weight: 600;
}

.navbar-nav {
  width: 100%;
}

li.nav-item {
  margin-left: 20px;
  font-size: 22px;
}

li.nav-item a:hover {
  text-decoration: underline;
}

li.nav-item a.dropdown-toggle:hover {
  text-decoration: none;
}

.lang-link {
  font-size: 15px;
}

.lang-link.active,
.lang-link:hover {
  border: solid 1px #fff;
  text-decoration: none !important;
}

.navbar-nav .dropdown-menu {
  background: #6287f2;
}

.navbar-nav .dropdown-menu a {
  color: #fff;
}

.navbar-nav .dropdown-menu .dropdown-item:active,
.navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item:hover {
  color: #fff;
  background: #6287f2;
  text-decoration: underline;
}

@media screen and (max-width: 1700px) {
  #top-logo {
    width: 200px;
  }

  li.nav-item {
    margin-left: 16px;
    font-size: 18px;
  }

  .nav-item .dropdown-item {
    font-size: 18px;
  }

  .nav-item .btn-orange {
    font-size: 16px;
  }

  .lang-link {
    font-size: 13px;
  }
}

@media screen and (max-width: 1400px) {
  #top-logo {
    width: 160px;
  }

  li.nav-item {
    margin-left: 14px;
    font-size: 16px;
  }

  .nav-item .dropdown-item {
    font-size: 16px;
  }

  .nav-item .btn-orange {
    font-size: 14px;
  }

  .lang-link {
    font-size: 10px;
  }
}

@media screen and (max-width: 1200px) {
  #top-logo {
    width: 140px;
  }

  li.nav-item {
    margin-left: 10px;
    font-size: 13px;
  }

  .nav-item .dropdown-item {
    font-size: 13px;
  }

  .nav-item .btn-orange {
    font-size: 11px;
  }

  .lang-link {
    font-size: 8px;
  }
}

@media screen and (max-width: 992px) {
  #menu-section {
    /*position: relative;*/
  }

  .nav-item .btn-orange {
    padding: 5px;
    width: 60px;
    text-align: center;
  }

  .lang-link {
    padding: 5px !important;
  }
}

/** carousel **/
.carousel-inner {
  /*height: 100vh;*/
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  opacity: 0;
}

.carousel-caption {
  bottom: 25%;
}

.carousel-caption p {
  font-size: 21px;
  max-width: 805px;
  margin: auto;
}

.carousel-caption .btn-orange-lg {
  margin: auto;
  margin-top: 40px;
}

@media screen and (max-width: 1200px) {
  .carousel-caption {
    bottom: 10%;
  }
}

@media screen and (max-width: 992px) {
  .carousel-inner {
    height: auto;
  }

  .carousel-caption {
    bottom: 15%;
  }
  .carousel-caption .btn-orange-lg {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-caption {
    bottom: 5%;
  }
  .carousel-caption h1 {
    font-size: 25px;
  }
  .carousel-caption p {
    font-size: 18px;
  }
  .carousel-caption .btn-orange-lg {
    max-width: 230px;
    height: 50px;
    padding: 11px;
  }
}

@media screen and (max-width: 576px) {
  .carousel-caption h1 {
    font-size: 22px;
  }
}

/** numbers-section **/
#numbers-section {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url(../images/numbers-section-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#numbers-section span {
  font-size: 30px;
  display: block;
}

@media screen and (max-width: 1200px) {
  #numbers-section span {
    font-size: 25px;
  }
}

@media screen and (max-width: 992px) {
  #numbers-section {
    max-width: inherit;
  }
  #numbers-section span {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  #numbers-section {
    padding-top: 40px;
    padding-bottom: 0px;
  }
  #numbers-section span {
    margin-bottom: 40px;
  }
}

/** our services **/
#our-services {
  padding-top: 50px;
  padding-bottom: 100px;
  overflow-x: hidden;
}

#our-services .tab-pane {
  padding-top: 50px;
}

#our-services .tab-pane p {
  margin-top: 20px;
}
